
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Yapılacaklar</h4>
<br />
<p><del>Başlıklarda Arama</del></p>
<p><del>Yazar Görselleri Düzenleme</del></p>
<del>
    <p>Grafikler</p>
    <p><del>Vitrin Teması</del></p>
    <p>Gelen Kutusunda arama</p>
</del>
<p>Yetkilendirmeler</p>
<p><del>Hata Sayfası Layouttan ayrılacak</del></p>
<p><del>Sözlük Ve Vitrin Ayrı olucak</del></p>
<p><del>Herhangi Bir Tablo Raporlanacak</del></p>
<p>Proje Dosyaları Sunucuya Taşınacak</p>
<p>Alan Adı Alınacak</p>
<p>Proje Canlıya taşınacak</p>