@using System.Web.UI.WebControls
@using EntityLayer.Concrete
@model About
<button class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yaz Girişi
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="">Hakkımızda</h2>
            </div>
            <form method="post" action="/About/AddAbout">
                <div class="modal-body">
                    <label>Hakkımda Metin 1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Hakkımda Metin 2</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <label>Durumu : </label>
                    @Html.DropDownListFor(x => x.AboutStatus, new SelectListItem[]{
                        new SelectListItem() {Text = " Aktif ", Value="true"},
                        new SelectListItem() {Text = " Pasif ", Value="false"}}, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-outline-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>